



        <div id="content">
    
<div class="home__aboutus aboutus">
        <div class="aboutus__wrapper wrapper wrapper--1440">
                            <div class="aboutus__outerfig">
                    <figure class="fig aboutus__fig"><div class="fig__image" style="background-image: url('assets/files/home/onas.jpg');"></div></figure>

            </div>

            <div class="aboutus__info">
                
                <div class="cmstext aboutus__text"><h2><strong>GARAGE PROJECT</strong></h2>
<p>to nowoczesny&nbsp;<strong>warsztat samochodowy</strong>&nbsp;wyposażony w specjalistyczne narzędzia i maszyny diagnostyczne najnowszej generacji. To również profesjonalny zespół fachowców z bogatym doświadczeniem w branży motoryzacyjnej.<br><br>Wszystko to pozwala nam na kompleksową obsługę od najmniejszych aut osobowych poprzez auta terenowe po największe auta dostawcze wszystkich marek i modeli.<br><br></p></div>
                                        <a href="./podstrony/Kontakt.html" class="aboutus__button button button--std button--bordered button--upper button--withricon anim-moveright title--size16">CZYTAJ WIĘCEJ <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="11.4px" height="11.2px" viewBox="220.8 220.9 11.4 11.2" enable-background="new 220.8 220.9 11.4 11.2" xml:space="preserve" class="svg-inject svg-inject  replaced-svg replaced-svg" data-url="/theme/images/arrows.svg">
</svg></a>
                                </div>

        </div>

        <div class="wrapper wrapper--1440">
            <div class="article__galleries">
                


        </div>
    </div>
</div>
<div class="article vhome">
                        
        

<div class="wrapper">
    <a name="article"></a>

    <div class="wrapper wrapper--1440">
        <div class="homeoffer-list">
                                
                                        <a href="./podstrony/Kontakt.html" class="homeoffer-list__item homeofferbox homeofferbox--bosch">
                                                            <figure class="fig homeofferbox__icon fig--contain"><div class="fig__image" style="background-image: url('assets/files/oferta_boksy/ikony/bosh.svg');"></div></figure>

                        
                            <figure class="fig homeofferbox__fig"><div class="fig__image" style="background-image: url('assets/files/oferta_boksy/bosch-box.png');"></div></figure>


                        <span class="homeofferbox__title title title--upper title--semibold title--italic title--size22">Autoryzacja BOSCH CAR SERVICE</span>
                    </a>
                                                    
                                        <a href="./podstrony/Kontakt.html" class="homeoffer-list__item homeofferbox">
                                                            <figure class="fig homeofferbox__icon fig--contain"><div class="fig__image" style="background-image: url('assets/files/oferta_ikony/1.svg');"></div></figure>

                        
                            <figure class="fig homeofferbox__fig"><div class="fig__image" style="background-image: url('assets/files/oferta_boksy/mechanika.jpg');"></div></figure>


                        <span class="homeofferbox__title title title--upper title--semibold title--italic title--size22">Mechanika</span>
                    </a>
                                                    
                                        <a href="./podstrony/Kontakt.html" class="homeoffer-list__item homeofferbox">
                                                            <figure class="fig homeofferbox__icon fig--contain"><div class="fig__image" style="background-image: url('assets/files/oferta_boksy/ikony/elektronika-ikona.svg');"></div></figure>

                        
                            <figure class="fig homeofferbox__fig"><div class="fig__image" style="background-image: url('assets/files/oferta_boksy/elektronika.jpg');"></div></figure>


                        <span class="homeofferbox__title title title--upper title--semibold title--italic title--size22">Elektronika</span>
                    </a>
                                                    
                                        <a href="./podstrony/Kontakt.html" class="homeoffer-list__item homeofferbox">
                                                            <figure class="fig homeofferbox__icon fig--contain"><div class="fig__image" style="background-image: url('assets/files/oferta_boksy/ikony/wulkanizacja-ikona.svg');"></div></figure>

                        
                            <figure class="fig homeofferbox__fig"><div class="fig__image" style="background-image: url('assets/files/oferta_boksy/wulkanizacja.jpg');"></div></figure>


                        <span class="homeofferbox__title title title--upper title--semibold title--italic title--size22">Wulkanizacja</span>
                    </a>
                                                    
                                        <a href="./podstrony/Kontakt.html" class="homeoffer-list__item homeofferbox">
                                                            <figure class="fig homeofferbox__icon fig--contain"><div class="fig__image" style="background-image: url('assets/files/oferta_boksy/ikony/diagnostyka-ikona.svg');"></div></figure>

                        
                            <figure class="fig homeofferbox__fig"><div class="fig__image" style="background-image: url('assets/files/oferta_boksy/diagnostyka.jpg');"></div></figure>


                        <span class="homeofferbox__title title title--upper title--semibold title--italic title--size22">Diagnostyka</span>
                    </a>
                                                    
                                        <a href="./podstrony/Kontakt.html" class="homeoffer-list__item homeofferbox">
                                                            <figure class="fig homeofferbox__icon fig--contain"><div class="fig__image" style="background-image: url('assets/files/oferta_boksy/ikony/klimatyzacja-ikona.svg');"></div></figure>

                        
                            <figure class="fig homeofferbox__fig"><div class="fig__image" style="background-image: url('assets/files/oferta_boksy/klimatyzacja.jpg');"></div></figure>


                        <span class="homeofferbox__title title title--upper title--semibold title--italic title--size22">Klimatyzacja</span>
                    </a>
                                                    
                                        <a href="./podstrony/Kontakt.html" class="homeoffer-list__item homeofferbox homeofferbox--motulevo">
                                                            <figure class="fig homeofferbox__icon fig--contain"><div class="fig__image" style="background-image: url('assets/files/oferta_boksy/ikony/skrzynie-ikona.svg');"></div></figure>

                        
                            <figure class="fig homeofferbox__fig"><div class="fig__image" style="background-image: url('assets/files/oferta_boksy/skrzynie.jpg');"></div></figure>


                        <span class="homeofferbox__title title title--upper title--semibold title--italic title--size22">Serwis Automatycznych Skrzyń Biegów</span>
                    </a>
                                                    
                                        <a href="'./podstrony/Kontakt.html'" class="homeoffer-list__item homeofferbox">
                                                            <figure class="fig homeofferbox__icon fig--contain"><div class="fig__image" style="background-image: url('assets/files/oferta_boksy/ikony/uklad-ikona.svg');"></div></figure>

                        
                            <figure class="fig homeofferbox__fig"><div class="fig__image" style="background-image: url('assets/files/oferta_boksy/naped.jpg');"></div></figure>


                        <span class="homeofferbox__title title title--upper title--semibold title--italic title--size22">Hybrydowe Układy Napędowe</span>
                    </a>
                                                    
                                        <a href="./podstrony/Kontakt.html" class="homeoffer-list__item homeofferbox homeofferbox--motul">
                        
                            <figure class="fig homeofferbox__fig"><div class="fig__image" style="background-image: url('assets/files/oferta_boksy/motul.png');"></div></figure>


                        <span class="homeofferbox__title title title--upper title--semibold title--italic title--size22">Motul</span>
                    </a>
                                            </div>
    </div>

    

        </div>
    </div>

        <div class="prefooter">
        <div class="prefooter__wrapper wrapper wrapper--1440">
                                <div class="title--medium"><div class="cmstext">UMÓW WIZYTĘ W NASZYM SERWISIE</div></div>
                <a href="./podstrony/Kontakt.html" class="prefooter__button button button--std button--bordered button--upper button--withricon anim-moveright">SKONTAKTUJ SIĘ <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="11.4px" height="11.2px" viewBox="220.8 220.9 11.4 11.2" enable-background="new 220.8 220.9 11.4 11.2" xml:space="preserve" class="svg-inject svg-inject  replaced-svg replaced-svg" data-url="'./theme/images/arrows.svg'">

</svg></a>
                        </div>
    </div>

<div class="footer">
                <div class="wrapper wrapper--1440 footer__wrapper">
            <div class="title title--upper title--bold title--white title--size35">Kontakt</div>

            <div class="footer__contactblocks contactblocks">
                            <a href="https://www.google.pl/maps/place/Politechnika+%C5%9Awi%C4%99tokrzyska/@50.8787956,20.637867,17z/data=!3m1!4b1!4m5!3m4!1s0x471827be35849801:0x99149978917cac90!8m2!3d50.8787922!4d20.6400556" class="contactblocks__item js-anim anim--initial anim--zoom anim--inited" target="_blank" style="transform: none; opacity: 1; transition: color 0.2s ease 0s, background-color 0.2s ease 0s;">			<div class="contactblocks__bgimage"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="43px" height="57.737px" viewBox="243.859 236.491 43 57.737" enable-background="new 243.859 236.491 43 57.737" xml:space="preserve" class="svg-inject  replaced-svg" data-url="'./theme/images/icon-contact-1.svg'">

</svg></div>
        <div class="contactblocks__info">
            <div class="contactblocks__title title--bold title--upper title--size22">Lokalizacja</div>
            <figure>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="43px" height="57.737px" viewBox="243.859 236.491 43 57.737" enable-background="new 243.859 236.491 43 57.737" xml:space="preserve" class="svg-inject  replaced-svg" data-url="./theme/images/icon-contact-1.svg">

</svg>
            </figure>
            <div class="contactblocks__text title--medium title--size19"><p>ul. Projektowa<br>Kielce<br>woj. świętokrzyskie<br>NIP: 123456789009780</p></div>
        </div>
    </a>	
                            <div class="contactblocks__item js-anim anim--initial anim--zoom anim--inited" style="transform: none; opacity: 1; transition: all 0s ease 0s;">			<div class="contactblocks__bgimage"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="48px" height="47.968px" viewBox="273.64 396.96 48 47.968" enable-background="new 273.64 396.96 48 47.968" xml:space="preserve" class="svg-inject  replaced-svg" data-url="'./theme/images/icon-contact-2.svg'">
</svg></div>
        <div class="contactblocks__info">
            <div class="contactblocks__title title--bold title--upper title--size22">Telefon</div>
            <figure>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="48px" height="47.968px" viewBox="273.64 396.96 48 47.968" enable-background="new 273.64 396.96 48 47.968" xml:space="preserve" class="svg-inject  replaced-svg" data-url="/theme/images/icon-contact-2.svg">
</svg>
            </figure>
            <div class="contactblocks__text title--medium title--size19"><p><a href="tel:+49123123123">(+48) 12312312323</a><br><a href="tel:+123123123">(+48) 123 123 123 <img src="./Warsztat samochodowy, auto serwis i naprawa - Garage Project" alt="" width="20" height="20"></a></p></div>
        </div>
    </div>	
                            <div class="contactblocks__item js-anim anim--initial anim--zoom anim--inited" style="transform: none; opacity: 1; transition: all 0s ease 0s;">			<div class="contactblocks__bgimage"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="43px" height="33.786px" viewBox="253.897 258.504 43 33.786" enable-background="new 253.897 258.504 43 33.786" xml:space="preserve" class="svg-inject  replaced-svg" data-url="'./theme/images/icon-contact-3.svg'">
</svg></div>
        <div class="contactblocks__info">
            <div class="contactblocks__title title--bold title--upper title--size22">E-mail</div>
            <figure>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="43px" height="33.786px" viewBox="253.897 258.504 43 33.786" enable-background="new 253.897 258.504 43 33.786" xml:space="preserve" class="svg-inject  replaced-svg" data-url="./theme/images/icon-contact-3.svg">

</svg>
            </figure>
            <div class="contactblocks__text title--medium title--size19"><p><a href="mailto:kontakt@garageproject.pl">kontakt@garageproject.pl</a></p></div>
        </div>
    </div>	
                            <div class="contactblocks__item js-anim anim--initial anim--zoom anim--inited" style="transform: none; opacity: 1; transition: all 0s ease 0s;">			<div class="contactblocks__bgimage"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="49px" height="49px" viewBox="24.08 24.08 49 49" enable-background="new 24.08 24.08 49 49" xml:space="preserve" class="svg-inject  replaced-svg" data-url="'./theme/images/icon-contact-4.svg'">

</svg></div>
        <div class="contactblocks__info">
            <div class="contactblocks__title title--bold title--upper title--size22">Godziny pracy</div>
            <figure>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="49px" height="49px" viewBox="24.08 24.08 49 49" enable-background="new 24.08 24.08 49 49" xml:space="preserve" class="svg-inject  replaced-svg" data-url="/theme/images/icon-contact-4.svg">

</svg>
            </figure>
            <div class="contactblocks__text title--medium title--size19"><p>pn - pt: 8:00 do 16:00</p></div>
        </div>
    </div>	
            </div>
            <div class="footer__gotop gotop js-gotop">
                <div class="button button--ic gotop__icon anim-movetop"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="16.975px" height="10.899px" viewBox="-16.487 11.51 16.975 10.899" enable-background="new -16.487 11.51 16.975 10.899" xml:space="preserve" class="svg-inject  replaced-svg" data-url="'./theme/images/arrow.svg'">
</svg></div>
                <div class="gotop__text title--size12 title--bold title--upper">do góry</div>
            </div>
        </div>
            <div class="copyinfo">
        <div class="wrapper wrapper--1440 copyinfo__wrapper">
            <div class="copyinfo__partner title--size12">
            </div>
            <div class="copyinfo__copyright title--size12 title--medium">
                <strong><a>GARAGE PROJECT</a></strong> -  © 2020
            </div>
            <div class="copyinfo__author title--size12 title--medium">
                Realizacja:  <a>Woźniak Spyrka Sitek</a>
            </div>
        </div>
    </div>
</div>

<div class="contactbar title--medium title--upper title--size13">
    <a class="contactbar__mail" href="mailto:kontakt@aspaczkowo.pl">
        <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="34px" height="26px" viewBox="258.397 262.397 34 26" enable-background="new 258.397 262.397 34 26" xml:space="preserve" class="svg-inject  replaced-svg" data-url="'./theme/images/icon-mail.svg'">
</svg></span>
        <span>Napisz</span>
    </a>
    <a class="contactbar__phone" href="tel:+48612248182">
        <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve" class="svg-inject  replaced-svg" data-url="/theme/images/icon-phone.svg">
</svg></span>
        <span>Zadzwoń</span>
    </a>
</div>